### **Importando las librer√≠as a utilizar**

In [589]:
import pandas as pd
import numpy as np

### **Carga de Datos**

In [590]:
# Creando el dataframe amazon y verificando columnas
df_amazon = pd.read_csv('datasets_o/amazon_prime_titles.csv')
df_amazon.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...

In [591]:
# # Creando el dataframe disney y verificando columnas
df_disney = pd.read_csv('datasets_o/disney_plus_titles.csv')
df_disney.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.

In [592]:
# # Creando el dataframe hulu y verificando columnas
df_hulu = pd.read_csv('datasets_o/hulu_titles.csv')
df_hulu.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",‚ÄãComedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...

In [593]:
# # Creando el dataframe netflix y verificando columnas
df_netflix = pd.read_csv('datasets_o/netflix_titles.csv')
df_netflix.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [594]:
# Otra info que se puede verificar de cada dataset

# df_amazon.info()
# df_amazon.shape
# df_amazon.describe()
# df_amazon.isnull().sum()

### **Transformaci√≥n de Datos**

1) Generar campo **`id`**: Cada id se compondr√° de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para t√≠tulos de Amazon = **`as123`**)

In [595]:
# Creando el campo 'id' en los cuatro datasets

df_amazon.insert(0, 'id', 'a' + df_amazon['show_id'])
df_disney.insert(0, 'id', 'd' + df_disney['show_id'])
df_hulu.insert(0, 'id', 'h' + df_hulu['show_id'])
df_netflix.insert(0, 'id', 'n' + df_netflix['show_id'])

In [596]:
# Verificando la creaci√≥n del campo 
df_amazon.head(3)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,as3,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...

In [597]:
df_disney.head(3)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,ds1,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,ds2,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,ds3,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.

In [598]:
df_hulu.head(3)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,hs1,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",‚ÄãComedian Ricky Velez bares it all with his ho...
1,hs2,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,hs3,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...

In [599]:
df_netflix.head(3)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,ns1,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,ns2,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,ns3,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

2) Los valores nulos del campo rating deber√°n reemplazarse por el string ‚Äú**`G`**‚Äù (corresponde al maturity rating: ‚Äúgeneral for all audiences‚Äù

In [600]:
# Verificando si hay nulos (y eventualmente la cantidad) del campo 'rating'
df_amazon['rating'].isnull().sum()

337

In [601]:
df_disney['rating'].isnull().sum()

3

In [602]:
df_hulu['rating'].isnull().sum()

520

In [603]:
df_netflix['rating'].isnull().sum()

4

In [604]:
# Reemplazando los valores nulos del campo 'rating' y verificando la cantidad de nulos que quedaron luego del reemplazo

df_amazon['rating'].fillna('G', inplace=True)

# ejemplo utlizando numpy
# df_amazon['rating'] = np.where(df_amazon['rating'].isnull(), 'G', df_amazon['rating']) 

df_amazon['rating'].isnull().sum()

0

In [605]:
df_disney['rating'].fillna('G', inplace=True)

df_disney['rating'].isnull().sum()

0

In [606]:
df_hulu['rating'].fillna('G', inplace=True)

df_hulu['rating'].isnull().sum()

0

In [607]:
df_netflix['rating'].fillna('G', inplace=True)

df_netflix['rating'].isnull().sum()

0

3) De haber fechas, deber√°n tener el formato **`AAAA-mm-dd`**

In [608]:
# Normalizando el formato del campo 'date_added' al formato requerido
df_amazon['date_added'] = pd.to_datetime(df_amazon['date_added']).dt.strftime('%Y-%m-%d')
df_disney['date_added'] = pd.to_datetime(df_disney['date_added']).dt.strftime('%Y-%m-%d')
df_hulu['date_added'] = pd.to_datetime(df_hulu['date_added']).dt.strftime('%Y-%m-%d')
df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added']).dt.strftime('%Y-%m-%d')

4) Los campos de texto deber√°n estar en **min√∫sculas**, sin excepciones

In [609]:

# Se utiliza el m√©todo applymap() de Pandas para aplicar una funci√≥n lambda a cada valor del dataframe df_amazon.
# Dentro de la funci√≥n lambda, se utiliza una expresi√≥n condicional para verificar si el valor es una cadena de texto
# utilizando la funci√≥n type(). Si el valor es una cadena de texto, se utiliza el m√©todo lower() para convertir todas
# las letras a min√∫sculas. Si el valor no es una cadena de texto, se devuelve el valor sin modificar.
df_amazon = df_amazon.applymap(lambda x: x.lower() if type(x) == str else x)
df_disney = df_disney.applymap(lambda x: x.lower() if type(x) == str else x)
df_hulu = df_hulu.applymap(lambda x: x.lower() if type(x) == str else x)
df_netflix = df_netflix.applymap(lambda x: x.lower() if type(x) == str else x)

In [610]:
# Verificando la converis√≥n de todo texto a min√∫sculas.
df_amazon.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyonc√©, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ..."
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...

In [611]:
df_disney.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,ds1,s1,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-11-26,2016,tv-g,23 min,"animation, family",join mickey and the gang as they duck the halls!
1,ds2,s2,movie,ernest saves christmas,john cherry,"jim varney, noelle parker, douglas seale",NaN,2021-11-26,1988,pg,91 min,comedy,santa claus passes his magic bag to a new st. ...
2,ds3,s3,movie,ice age: a mammoth christmas,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,tv-g,23 min,"animation, comedy, family",sid the sloth is on santa's naughty list.
3,ds4,s4,movie,the queen family singalong,hamish hamilton,"darren criss, adam lambert, derek hough, alexa...",NaN,2021-11-26,2021,tv-pg,41 min,musical,"this is real life, not just fantasy!"
4,ds5,s5,tv show,the beatles: get back,NaN,"john lennon, paul mccartney, george harrison, ...",NaN,2021-11-25,2021,g,1 season,"docuseries, historical, music",a three-part documentary from peter jackson ca...

In [612]:
df_hulu.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,hs1,s1,movie,ricky velez: here's everything,NaN,NaN,NaN,2021-10-24,2021,tv-ma,NaN,"comedy, stand up",‚Äãcomedian ricky velez bares it all with his ho...
1,hs2,s2,movie,silent night,NaN,NaN,NaN,2021-10-23,2020,g,94 min,"crime, drama, thriller","mark, a low end south london hitman recently r..."
2,hs3,s3,movie,the marksman,NaN,NaN,NaN,2021-10-23,2021,pg-13,108 min,"action, thriller",a hardened arizona rancher tries to protect an...
3,hs4,s4,movie,gaia,NaN,NaN,NaN,2021-10-22,2021,r,97 min,horror,a forest ranger and two survivalists with a cu...
4,hs5,s5,movie,settlers,NaN,NaN,NaN,2021-10-22,2021,g,104 min,"science fiction, thriller",mankind's earliest settlers on the martian fro...

5) El campo ***duration*** debe convertirse en dos campos: **`duration_int`** y **`duration_type`**. El primero ser√° un integer y el segundo un string indicando la unidad de medici√≥n de duraci√≥n: min (minutos) o season (temporadas).

In [613]:
# Creando una funci√≥n para repetir la tarea m√°s eficientemente.

def split_duration(df): 
    # creando los campos 'duration_int' y 'duration_type' a partir del campo' duration' y ubic√°ndolos a continuaci√≥n
    # de este √∫ltimo
    df.insert(10, 'duration_int', df['duration'].str.split(' ', expand=True)[0])
    df.insert(11, 'duration_type', df['duration'].str.split(' ', expand=True)[1])

    # convirtiendo el tipo del campo 'duration_int' a entero
    df.duration_int.fillna(0, inplace=True)
    df['duration_int'] = df['duration_int'].astype(int)

    # reemplazando el valor 'seasons' por el valor 'season' en el campo 'duration_type'
    df['duration_type'] = df['duration_type'].replace('seasons', 'season')

In [614]:
split_duration(df_amazon)
split_duration(df_disney)
split_duration(df_hulu)
split_duration(df_netflix)

In [615]:
df_amazon.head(3)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration_int,duration_type,duration,listed_in,description
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113,min,113 min,"comedy, drama",a small fishing village must procure a local d...
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110,min,110 min,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74,min,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...

In [616]:
# Eliminando la columna 'duration' de cada dataset
df_amazon = df_amazon.drop('duration', axis=1)
df_disney = df_disney.drop('duration', axis=1)
df_hulu = df_hulu.drop('duration', axis=1)
df_netflix = df_netflix.drop('duration', axis=1)

In [617]:
# Eliminando la columna 'show_id' de cada dataset
df_amazon = df_amazon.drop('show_id', axis=1)
df_disney = df_disney.drop('show_id', axis=1)
df_hulu = df_hulu.drop('show_id', axis=1)
df_netflix = df_netflix.drop('show_id', axis=1)

In [618]:
df_amazon.head()

,id,type,title,director,cast,country,date_added,release_year,rating,duration_int,duration_type,listed_in,description
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113,min,"comedy, drama",a small fishing village must procure a local d...
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110,min,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74,min,"action, drama, suspense",after a man discovers his wife is cheating on ...
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyonc√©, britney...",united states,2021-03-30,2014,g,69,min,documentary,"pink breaks the mold once again, bringing her ..."
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45,min,"drama, fantasy",teenage matt banting wants to work with a famo...

Creaci√≥n de un Dataset √∫nico

In [619]:
# Agregando a cada dataframe la columna platform

df_amazon['platform'] = 'amazon'
df_disney['platform'] = 'disney'
df_hulu['platform'] = 'hulu'
df_netflix['platform'] = 'netflix'

In [620]:
df_amazon.shape

(9668, 14)

In [621]:
df_disney.shape

(1450, 14)

In [622]:
df_hulu.shape

(3073, 14)

In [623]:
# Concatenando los cuatro dataframes

df_full_titles = pd.concat([df_amazon, df_disney, df_hulu, df_netflix], ignore_index=True)

# Imprimir el n√∫mero de filas y columnas del dataframe resultante
# print("Filas: {}, Columnas: {}".format(df_full_platform.shape[0], df_full_platform.shape[1]))

df_full_titles.shape

(22998, 14)

In [624]:
# Guardando el nuevo dataframe
df_full_titles.to_csv('datasets/full_titles.csv', index = False)

Tratamiento de los datasets de Rating

In [625]:
# cargando cada uno de los archivos rating
df_1 = pd.read_csv('datasets_o/ratings/1.csv')
df_2 = pd.read_csv('datasets_o/ratings/2.csv')
df_3 = pd.read_csv('datasets_o/ratings/3.csv')
df_4 = pd.read_csv('datasets_o/ratings/4.csv')
df_5 = pd.read_csv('datasets_o/ratings/5.csv')
df_6 = pd.read_csv('datasets_o/ratings/6.csv')
df_7 = pd.read_csv('datasets_o/ratings/7.csv')
df_8 = pd.read_csv('datasets_o/ratings/8.csv')

In [626]:
# Verificando la info y que hayan cargado correctamente (s√≥lo el primero)
df_1.head(3)

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381

In [627]:
# Uniendo los ocho datasets
df_ratings = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8], ignore_index=True)
df_ratings.head()

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381
3       1     5.0  1425941546  ns3663
4       1     5.0  1425941556  as9500

In [628]:
df_ratings.info

<bound method DataFrame.info of           userId  rating   timestamp movieId
0              1     1.0  1425941529   as680
1              1     4.5  1425942435  ns2186
2              1     5.0  1425941523  hs2381
3              1     5.0  1425941546  ns3663
4              1     5.0  1425941556  as9500
...          ...     ...         ...     ...
11024284  124380     4.5  1196786159  ns5272
11024285  124380     2.5  1196786030  ns5492
11024286  124380     3.5  1196785679   hs305
11024287  124380     4.5  1196787089  ns7881
11024288  124380     1.5  1196785847   as883

[11024289 rows x 4 columns]>

In [629]:
df_ratings.shape

(11024289, 4)

In [630]:
# Importando el m√≥dulo datetime para convertir los datos de la columna timestamp
import datetime

In [631]:
# Convirtiendo los valores  de formato timestamp a formato de fecha (a√±o-mes-d√≠a) como una cadena de texto.
df_ratings['timestamp'] = pd.to_datetime(df_ratings['timestamp'],unit='s').dt.strftime('%Y-%m-%d')

In [632]:
# Convirtiendo el campo timestamp a tipo fecha
df_ratings['timestamp'] = pd.to_datetime(df_ratings['timestamp'])

In [633]:
# Verificando los procesos anteriores
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11024289 entries, 0 to 11024288
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   rating     float64
 2   timestamp  datetime64[ns]
 3   movieId    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 336.4+ MB

In [634]:
df_ratings.head(2)

   userId  rating  timestamp movieId
0       1     1.0 2015-03-09   as680
1       1     4.5 2015-03-09  ns2186

In [635]:
# Renombrando el campo rating a score
df_ratings.rename(columns = {'rating':'score'}, inplace = True)
df_ratings.head(2)

   userId  score  timestamp movieId
0       1    1.0 2015-03-09   as680
1       1    4.5 2015-03-09  ns2186

In [636]:
# Guardando el nuevo dataframe como archivo csv
df_ratings.to_csv('datasets/full_scores.csv', index = False)

In [637]:
# Calculando el promedio de cada t√≠tulo
scores_mean = df_ratings.groupby("movieId")
scores_mean = scores_mean["score"].mean()

In [638]:
scores_mean.head()

movieId
as1       3.467131
as10      3.439571
as100     3.609302
as1000    3.556701
as1001    3.585288
Name: score, dtype: float64

In [639]:
scores_mean.info()

<class 'pandas.core.series.Series'>
Index: 22998 entries, as1 to ns999
Series name: score
Non-Null Count  Dtype
--------------  -----
22998 non-null  float64
dtypes: float64(1)
memory usage: 359.3+ KB

In [652]:
# Convirtiendo la serie en dataframe y generando un archivo csv
#scores_mean.to_frame().reset_index().to_csv('datasets/scores_mean.csv', index=False, header=['movieid', 'score'])

In [642]:
# Generando un dataframe como resultado de la uni√≥n de los dos anteriores
df_full_titles = df_full_titles.merge(scores_mean, left_on="id", right_on="movieId")

In [653]:
df_full_titles.head()

,id,type,title,director,cast,country,date_added,release_year,rating,duration_int,duration_type,listed_in,description,platform,score
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113,min,"comedy, drama",a small fishing village must procure a local d...,amazon,3.467131
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110,min,"drama, international",a metro family decides to fight a cyber crimin...,amazon,3.548682
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74,min,"action, drama, suspense",after a man discovers his wife is cheating on ...,amazon,3.500000
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyonc√©, britney...",united states,2021-03-30,2014,g,69,min,documentary,"pink breaks the mold once again, bringing her ...",amazon,3.538055
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45,min,"drama, fantasy",teenage matt banting wants to work with a famo...,amazon,3.478992

In [654]:
# Comprobando cuantos valores nulos hay en el nuevo campo 'score'
df_full_titles['score'].isnull().sum()

0

In [655]:
# Guardando el archivo csv con las nuevas modificaciones
df_full_titles.to_csv('datasets/full_titles.csv', index = False)

In [656]:
# Importando la librer√≠a necesaria para realizar una copia del archivo full_titles.csv
import shutil

In [659]:
# Generando una copia del archivo full_titles.csv en la carpeta donde se encuentra el desarrollo de la Api.
# Si el archivo full_titles.csv ya existe en la carpeta dataApi, la funci√≥n copy lo sobrescribir√°.
src_path = "datasets/full_titles.csv"
dst_path = "dataApi/datasets/full_titles.csv"

shutil.copy(src_path, dst_path)

'dataApi/datasets/full_titles.csv'